- import data
- clean data
- split data into 2 for training and testing
- build the model
- train the model
- make a prediction
- evaluate the prediction and its accuracy

In [10]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
from sklearn.tree import DecisionTreeClassifier as dt
from sklearn.model_selection import train_test_split as tts
from sklearn.model_selection import train_test_split as tts
from sklearn.metrics import accuracy_score as accuracy
from sklearn import linear_model
from sklearn import svm

In [3]:
data = pd.read_csv("Train_prediction.csv")
data.head(5)

,v.id,on road old,on road now,years,km,rating,condition,economy,top speed,hp,torque,current price
0,1,535651,798186,3,78945,1,2,14,177,73,123,351318.0
1,2,591911,861056,6,117220,5,9,9,148,74,95,285001.5
2,3,686990,770762,2,132538,2,8,15,181,53,97,215386.0
3,4,573999,722381,4,101065,4,3,11,197,54,116,244295.5
4,5,691388,811335,6,61559,3,9,12,160,53,105,531114.5

In [6]:
x_data = data[['years', 'km', 'rating', 'condition', 'economy', 'top speed', 'hp', 'torque']]
x_data.head()

   years      km  rating  condition  economy  top speed  hp  torque
0      3   78945       1          2       14        177  73     123
1      6  117220       5          9        9        148  74      95
2      2  132538       2          8       15        181  53      97
3      4  101065       4          3       11        197  54     116
4      6   61559       3          9       12        160  53     105

In [7]:
y_data = data['current price']
y_data.head()

0    351318.0
1    285001.5
2    215386.0
3    244295.5
4    531114.5
Name: current price, dtype: float64

In [19]:
classifiers = [
    svm.SVR(),
    linear_model.SGDRegressor(),
    linear_model.BayesianRidge(),
    linear_model.LassoLars(),
    linear_model.ARDRegression(),
    linear_model.PassiveAggressiveRegressor(),
    linear_model.TheilSenRegressor(),
    linear_model.LinearRegression()]

In [20]:
for item in classifiers:
    print(item)
    model = item
    model.fit(x_data, y_data)

SVR()
SGDRegressor()
BayesianRidge()
LassoLars()
ARDRegression()
PassiveAggressiveRegressor()
TheilSenRegressor(max_subpopulation=10000)

/Users/bad_billipino/opt/anaconda3/lib/python3.9/site-packages/sklearn/linear_model/_base.py:133: FutureWarning: The default of 'normalize' will be set to False in version 1.2 and deprecated in version 1.4.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LassoLars())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)

Set parameter alpha to: original_alpha * np.sqrt(n_samples).
  warnings.warn(

LinearRegression()

In [14]:
x_data.head()

   years      km  rating  condition  economy  top speed  hp  torque
0      3   78945       1          2       14        177  73     123
1      6  117220       5          9        9        148  74      95
2      2  132538       2          8       15        181  53      97
3      4  101065       4          3       11        197  54     116
4      6   61559       3          9       12        160  53     105

In [17]:
model.predict([[2, 2122, 3, 4, 9, 165, 70, 63]])

/Users/bad_billipino/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([703030.06295987])

In [24]:
x_train, x_test, y_train, y_test= tts(x_data, y_data, test_size=0.2)
x_train, x_test, y_train, y_test

for item in classifiers:
    print(item)
    model = item
    model.fit(x_train, y_train)
    model.predict(x_test)
    score = accuracy(y_test, prediction)
    score

SVR()

ValueError: continuous is not supported