#### Machine Lerning
Machine Lerning is a subset of Artificial Intelligence. It works by you building a model and give it lots and lots of data and the model will then find and learn the patterns within the inputed data and when you ask the model to predict an output, the model should answer with a certain degree of accuracy. The more data we give the model, the more accurate it will be.

Machine learning has applications in:
- self-driving cars
- robotics
- language processing
- vision processing
- forecasting market trends, weathers etc

#### Machine Learning in Action:
**Step 1**
**Import the Data:** The first step is to import the data that will be inputed into the model for learning and it often comes in a CSV file.

**Step 2**
**Clean the data:** This usually involves tasks such as removing duplicates, you do not want to feed duplicates to the model as it will learn bad patterns in the data and produce the wrong result. Ensure the data is good and clean, remove irrelevant data or incomplete, convert text based data to numerical value. This step depends on your data kind.

**Step 3**
**Split the data into Training/Test sets:** This involves splitting the data into two segments, one for training our model and the other for testing the model to ensure the model produces the right results. For example if you have 1000 cat and dog picture you can use 80% pictures for training and the 20% remaining for testing. 

**Step 4**
**Create a Model:** This involves selecting an algorithm to analyze the data, there are so many ML algorithms such as decision trees, neural networks etc. They all have pros and cons and the type of algorithm you choose depends on the type of problem you are trying to solve and your input data. There are various libraries out there that provide these algorithms eg scikit learn.

**Step 5**
**Train the Model:** 


**Step 6**
**Make Predictions:** Ask the model to make prediction to assess the models accuracy.

**Step 7**
**Evaluate the Predictions and improve the model:** The prediction is not always correct so you need to evaluate the predictions and measure the accuracy then we need to get back to the algorithm and then select a different algorithm that will produce a more accurate result for the problem we are trying to solve or fine tune the models parameters

#### Libraries and Tools for machine learning 

**Libraries**
- **Numpy:** This provides a multi-dimensional array
- **Pandas:** This is a data analysis library that provides a concept called data frame. A data frame is a two dimensional data structure which is similar to excel spreadsheet. It has rows and columns.
- **Matplotlib:** This is two dimensional plotting library for creating graphs and plots
- **Scikit-learn:** It provides all the relevant algorithms such as decision tree, neural networks etc.

### Importing Data

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt

In [2]:
df = pd.read_csv('vgsales.csv')
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [3]:
df.shape

(16598, 11)

In [4]:
print('There are {} rows and {} columns within the dataset'.format(df.shape[0], df.shape[1]))

There are 16598 rows and 11 columns within the dataset

In [5]:
##To get some basic statistics within our dataset
df.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

##### The average year for all the video games in the dataset is 2006, the minimum year is 1980 and maximum year is 2020
The standard deviation is a measure to quantify the amount of variation withing our set of values

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

The following columns  have null values
- Year
- Publisher

In [7]:
df.duplicated().value_counts()

False    16598
Name: count, dtype: int64

There are no duplicate data within the dataset

In [8]:
df.values

array([[1, 'Wii Sports', 'Wii', ..., 3.77, 8.46, 82.74],
       [2, 'Super Mario Bros.', 'NES', ..., 6.81, 0.77, 40.24],
       [3, 'Mario Kart Wii', 'Wii', ..., 3.79, 3.31, 35.82],
       ...,
       [16598, 'SCORE International Baja 1000: The Official Game', 'PS2',
        ..., 0.0, 0.0, 0.01],
       [16599, 'Know How 2', 'DS', ..., 0.0, 0.0, 0.01],
       [16600, 'Spirits & Spells', 'GBA', ..., 0.0, 0.0, 0.01]],
      dtype=object)

This returns a two dimensional array, the first '[' represents the outer array and the second '[' represents the inner array.

Build a model that predicts whether a listener will like a type of music or not based on their age and gender

#### Step 1 : Import the Data

In [9]:
music = pd.read_csv('music.csv')
music.head()

   age  gender   genre
0   20       1  HipHop
1   23       1  HipHop
2   25       1  HipHop
3   26       1    Jazz
4   29       1    Jazz

gender 1 is men and 0 is women


#### Step 2 : Clean the Data

In [12]:
music.shape

(18, 3)

In [13]:
music.describe()

             age     gender
count  18.000000  18.000000
mean   27.944444   0.500000
std     5.127460   0.514496
min    20.000000   0.000000
25%    25.000000   0.000000
50%    28.000000   0.500000
75%    31.000000   1.000000
max    37.000000   1.000000

In [14]:
music.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
dtype: bool

There is no need to clean the data because there are no duplicate data or invalid data

#### Step 3: Split the data into two. 

The age and gender column will be the input data and the genre column will be the output data.

In [17]:
##Create the input dataset
X_input = music.drop(columns=['genre'])
X_input

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [19]:
##Create the input dataset
Y_output = music.drop(columns=['age', 'gender'])
Y_output

        genre
0      HipHop
1      HipHop
2      HipHop
3        Jazz
4        Jazz
5        Jazz
6   Classical
7   Classical
8   Classical
9       Dance
10      Dance
11      Dance
12   Acoustic
13   Acoustic
14   Acoustic
15  Classical
16  Classical
17  Classical

#### Step 4 and 5: Build and Train a Model using an algorithm

We are using the DecisionTree algorithm for this model. It is included in the scikitlearn library

In [20]:
from sklearn.tree import DecisionTreeClassifier as dt

In [21]:
##create the model using DecisionTree the feed the model with datasets ie input and output data
model = dt()
model.fit(X_input, Y_output)

DecisionTreeClassifier()

#### Step 6: Make a prediction

In [24]:
##This model takes a two dimensional array, you feed it 2D data from the input you wish it to predict
## you are asking about a 21yo male and 22yo female
predictions = model.predict([[21, 1], [22, 0]])
predictions
##The model predicts that a 21yo male will like hiphop and 22yo female will like dance

/Users/bad_billipino/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['HipHop', 'Dance'], dtype=object)

In [70]:
from sklearn.tree import DecisionTreeClassifier as dt

model = dt()
model.fit(X_input, Y_output)

predictions = model.predict([[21, 1], [22, 0]])
predictions

/Users/bad_billipino/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['HipHop', 'Dance'], dtype=object)

In [71]:
predictions = model.predict([[35, 1], [33, 0]])
predictions

/Users/bad_billipino/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Classical', 'Classical'], dtype=object)

#### Step 7: Evaluate the Predictions and improve the model:

After building a model and it makes a prediction, you need to measure its accuracy. If the model accuracy is not right then fine tune it and build a better model using a different algorithm

Calculating the models accuracy: To do this you have to split the data into 2 set, one for training ie 70-80%, one for testing. Import a couple of functions to calculate this accuracy

In [25]:
from sklearn.model_selection import train_test_split as tts

You give train_test_split 3 arguments ie the input, output and test size (in this case we are giving it 20% of the dataset for testing). Then you save them in a variable for training and testing.

In [40]:
x_train, x_test, y_train, y_test= tts(X_input, Y_output, test_size=0.4)
x_train, x_test, y_train, y_test

(    age  gender
 4    29       1
 12   26       0
 2    25       1
 17   35       0
 7    33       1
 6    31       1
 15   31       0
 13   27       0
 8    37       1
 3    26       1,
     age  gender
 1    23       1
 11   25       0
 9    20       0
 14   30       0
 5    30       1
 16   34       0
 0    20       1
 10   21       0,
         genre
 4        Jazz
 12   Acoustic
 2      HipHop
 17  Classical
 7   Classical
 6   Classical
 15  Classical
 13   Acoustic
 8   Classical
 3        Jazz,
         genre
 1      HipHop
 11      Dance
 9       Dance
 14   Acoustic
 5        Jazz
 16  Classical
 0      HipHop
 10      Dance)

Now in the model, you will pass the train data into the model for training purpose and the x_test data into the predictions. Then import another function

In [28]:
from sklearn.metrics import accuracy_score as accuracy

model = dt()
model.fit(x_train, y_train)
prediction = model.predict(x_test)

##to predict accuracy, you feed it 2 arguments ie the expected values and prediction
score = accuracy(y_test, prediction)
score
##the score should be between 0 and 1, every time you run this test or change the test size, you get a different score because accuracy pick data randomly to test

In [49]:
model = dt()
model.fit(x_train, y_train)
prediction = model.predict(x_test)

##to predict accuracy, you feed it 2 arguments ie the expected values and prediction
score = accuracy(y_test, prediction)
score
##the score should be between 0 and 1, every time you run this test or change the test size, you get a different score because accuracy pick data randomly to test

0.625

In [50]:
from sklearn.model_selection import train_test_split as tts
from sklearn.metrics import accuracy_score as accuracy


x_train, x_test, y_train, y_test= tts(X_input, Y_output, test_size=0.4)
x_train, x_test, y_train, y_test

model = dt()
model.fit(x_train, y_train)
prediction = model.predict(x_test)

score = accuracy(y_test, prediction)
score

0.75

In [53]:
##the higher the test data size given to the model, the lower the accuracy score
x_train, x_test, y_train, y_test= tts(X_input, Y_output, test_size=0.5)
x_train, x_test, y_train, y_test

model = dt()
model.fit(x_train, y_train)
prediction = model.predict(x_test)

score = accuracy(y_test, prediction)
score

0.5555555555555556

#### Persisting Models: 
Where a model has been built and we do not wish to be training the model every time we have a new user or every time we wish to make a recommendation to an existing user. We can build our model, save it into a file so that next time we do not have to do it over and over again. So next time we wish to make predictions we just load the model from the file and ask it to make predictions as it already trained like an intelligent person.

In [57]:
pip install joblib

Requirement already satisfied: joblib in ./opt/anaconda3/lib/python3.9/site-packages (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [62]:
import joblib 
joblib.dump(model, 'music-recommender.joblib')

['music-recommender.joblib']

In [61]:
model = joblib.load('music-recommender.joblib')
predictions = model.predict([[21, 1]])
predictions

/Users/bad_billipino/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['HipHop'], dtype=object)

This way we do not have to write the whole model all over again, we can just load it

#### Visualizing a DecisionTree 
Watch video

In [63]:
from sklearn import tree

In [69]:
tree.export_graphviz(model, out_file='music-recommender.dot',
                    feature_names=['age', 'gender'],
                    class_names=sorted(Y_output.unique()), 
                     label='all',
                     rounded=True,
                     filled=True)

AttributeError: 'DataFrame' object has no attribute 'unique'

In [72]:
data = pd.read_csv("Train_prediction.csv")
data.head(5)

,v.id,on road old,on road now,years,km,rating,condition,economy,top speed,hp,torque,current price
0,1,535651,798186,3,78945,1,2,14,177,73,123,351318.0
1,2,591911,861056,6,117220,5,9,9,148,74,95,285001.5
2,3,686990,770762,2,132538,2,8,15,181,53,97,215386.0
3,4,573999,722381,4,101065,4,3,11,197,54,116,244295.5
4,5,691388,811335,6,61559,3,9,12,160,53,105,531114.5